html.polykit-modern-colors {
	--wp--preset--color--blueberry-1: #3858e9;
	--wp--preset--color--blueberry-2: #9fb1ff;
	--wp--preset--color--blueberry-3: #c7d1ff;
	--wp--preset--color--blueberry-4: #eff2ff;

	--gp-color-fg-default: #000000;
	--gp-color-accent-fg: var(--wp--preset--color--blueberry-1);
	--gp-color-accent-emphasis: color-mix(in srgb, var(--wp--preset--color--blueberry-1) 82%, #000);
	--gp-color-border-default: #72777c;
	--gp-color-border-muted: #b1b8c1;
	--gp-color-btn-text: var(--wp--preset--color--blueberry-1);
	--gp-color-btn-border: #72777c;
	--gp-color-btn-hover-text: color-mix(in srgb, var(--wp--preset--color--blueberry-1) 82%, #000);
	--gp-color-btn-hover-border: #50575e;
	--gp-color-btn-primary-text: #fff;
	--gp-color-btn-primary-bg: var(--wp--preset--color--blueberry-1);
	--gp-color-btn-primary-border: #72777c;
	--gp-color-btn-primary-hover-text: #fff;
	--gp-color-btn-primary-hover-bg: color-mix(in srgb, var(--wp--preset--color--blueberry-1) 82%, #000);
	--gp-color-btn-primary-hover-border: #50575e;
}

html.polykit-modern-colors .site-header {
	background: var(--wp--preset--color--blueberry-1);
}
