{
	"env": {
		"browser": true,
		"es2017": true,
		"webextensions": true
	},
	"globals": {
		"$gp": true,
		"$gp_editor_options": true,
		"browser": true,
		"chrome": true,
		"DOMPurify": true,
		"polykit_add_button": true,
		"polykit_add_column": true,
		"polykit_add_column_buttons": true,
		"polykit_add_elements": true,
		"polykit_add_evt_listener": true,
		"polykit_add_glossary_links": true,
		"polykit_add_meta": true,
		"polykit_add_project_links": true,
		"polykit_add_review_button": true,
		"polykit_add_scroll_buttons": true,
		"polykit_add_string_counts": true,
		"polykit_anonymous": true,
		"polykit_build_sticky_header": true,
		"polykit_consistency": true,
		"polykit_copy_visible_original_string": true,
		"polykit_copy_to_clipboard": true,
		"polykit_create_element": true,
		"polykit_curly_apostrophe_highlight": true,
		"polykit_current_locale_first": true,
		"polykit_do_consistency": true,
		"polykit_extension": true,
		"polykit_gp_get_sorted_strings": true,
		"polykit_gp_translate_text": true,
		"polykit_get_filter_toolbar": true,
		"polykit_get_filters_toolbar_row": true,
		"polykit_get_glossary_global_data": true,
		"polykit_ensure_toolbar_extensions": true,
		"polykit_get_lang_consistency": true,
		"polykit_get_setting": true,
		"polykit_setting_defaults": true,
		"polykit_bootstrap_i18n": true,
		"polykit_gp_strings": true,
		"polykit_publish_language_data": true,
		"polykit_load_language_files": true,
		"polykit_resolve_ui_locale": true,
		"polykit_strings": true,
		"polykit_ui_locale": true,
		"polykit_validate_locale": true,
		"polykit_t": true,
		"polykit_header_is_sticky": true,
		"polykit_hotkeys": true,
		"polykit_is_uppercase": true,
		"polykit_init_glotpress_l10n": true,
		"polykit_localize_glotpress": true,
		"polykit_should_localize_glotpress": true,
		"polykit_locales": true,
		"polykit_locales_selector": true,
		"polykit_locales_slugs": true,
		"polykit_mark_old_strings": true,
		"polykit_notranslate": true,
		"polykit_non_breaking_space_highlight": true,
		"polykit_occurrences": true,
		"polykit_paren_needs_outside_space": true,
		"polykit_pagination": true,
		"polykit_quicklinks": true,
		"polykit_run_review": true,
		"polykit_selected_count": true,
		"polykit_scroll_to_top": true,
		"polykit_stoppropagation": true,
		"polykit_tag_target_when_source_outside_viewport": true,
		"polykit_thatsnew": true,
		"polykit_to_top": true,
		"polykit_user": true,
		"polykit_validate_visible": true,
		"polykit_wait_table_alter": true,
		"polykit_version": true,
		"jQuery": true,
		"key": true,
		"Promise": true
	},
	"rules": {
		"accessor-pairs": "error",
		"array-bracket-spacing": [
			"error",
			"always"
		],
		"arrow-spacing": [
			"error",
			{
				"before": true,
				"after": true
			}
		],
		"brace-style": [
			"error",
			"1tbs",
			{
				"allowSingleLine": true
			}
		],
		"comma-dangle": [
			"error",
			"always-multiline"
		],
		"comma-spacing": [
			"error",
			{
				"before": false,
				"after": true
			}
		],
		"comma-style": [
			"error",
			"last"
		],
		"constructor-super": "error",
		"curly": [
			"error",
			"all"
		],
		"dot-location": [
			"error",
			"property"
		],
		"eol-last": [
			"error",
			"always"
		],
		"eqeqeq": [
			"error",
			"always"
		],
		"func-call-spacing": [
			"error",
			"never"
		],
		"generator-star-spacing": [
			"error",
			{
				"before": true,
				"after": true
			}
		],
		"handle-callback-err": [
			"error",
			"^(err|error)$"
		],
		"indent": [
			"error",
			"tab"
		],
		"key-spacing": [
			"error",
			{
				"align": "value"
			}
		],
		"keyword-spacing": [
			"error",
			{
				"before": true,
				"after": true
			}
		],
		"new-cap": [
			"error",
			{
				"newIsCap": true,
				"capIsNew": false
			}
		],
		"new-parens": "error",
		"no-array-constructor": "error",
		"no-caller": "error",
		"no-class-assign": "error",
		"no-compare-neg-zero": "error",
		"no-cond-assign": "error",
		"no-const-assign": "error",
		"no-constant-condition": [
			"error",
			{
				"checkLoops": false
			}
		],
		"no-control-regex": "error",
		"no-debugger": "error",
		"no-delete-var": "error",
		"no-dupe-args": "error",
		"no-dupe-class-members": "error",
		"no-dupe-keys": "error",
		"no-duplicate-case": "error",
		"no-empty-character-class": "error",
		"no-empty-pattern": "error",
		"no-eval": "error",
		"no-ex-assign": "error",
		"no-extend-native": "error",
		"no-extra-bind": "error",
		"no-extra-boolean-cast": "error",
		"no-extra-parens": [
			"error",
			"functions"
		],
		"no-fallthrough": "error",
		"no-floating-decimal": "error",
		"no-func-assign": "error",
		"no-global-assign": "error",
		"no-implied-eval": "error",
		"no-inner-declarations": [
			"error",
			"functions"
		],
		"no-invalid-regexp": "error",
		"no-irregular-whitespace": [
			"error",
			{
				"skipStrings": true,
				"skipRegExps": true,
				"skipTemplates": true
			}
		],
		"no-iterator": "error",
		"no-label-var": "error",
		"no-labels": [
			"error",
			{
				"allowLoop": false,
				"allowSwitch": false
			}
		],
		"no-lone-blocks": "error",
		"no-mixed-spaces-and-tabs": "error",
		"no-multi-spaces": "error",
		"no-multi-str": "error",
		"no-multiple-empty-lines": [
			"error",
			{
				"max": 1,
				"maxEOF": 0
			}
		],
		"no-negated-in-lhs": "error",
		"no-new": "error",
		"no-new-func": "error",
		"no-new-object": "error",
		"no-new-require": "error",
		"no-new-symbol": "error",
		"no-new-wrappers": "error",
		"no-obj-calls": "error",
		"no-octal": "error",
		"no-octal-escape": "error",
		"no-path-concat": "error",
		"no-proto": "error",
		"no-redeclare": [
			2,
			{
				"builtinGlobals": false
			}
		],
		"no-regex-spaces": "error",
		"no-return-assign": [
			"error",
			"except-parens"
		],
		"no-return-await": "error",
		"no-self-assign": "error",
		"no-self-compare": "error",
		"no-sequences": "error",
		"no-shadow-restricted-names": "error",
		"no-sparse-arrays": "error",
		"no-template-curly-in-string": "error",
		"no-this-before-super": "error",
		"no-throw-literal": "error",
		"no-trailing-spaces": "error",
		"no-undef": "error",
		"no-undef-init": "error",
		"no-unexpected-multiline": "error",
		"no-unmodified-loop-condition": "error",
		"no-unreachable": "error",
		"no-unsafe-finally": "error",
		"no-unsafe-negation": "error",
		"no-unused-expressions": [
			"error",
			{
				"allowShortCircuit": true,
				"allowTernary": true,
				"allowTaggedTemplates": true
			}
		],
		"no-unused-vars": [
			"error",
			{
				"vars": "local",
				"args": "none",
				"ignoreRestSiblings": true
			}
		],
		"no-use-before-define": [
			"error",
			{
				"functions": false,
				"classes": false,
				"variables": false
			}
		],
		"no-useless-call": "error",
		"no-useless-computed-key": "error",
		"no-useless-constructor": "error",
		"no-useless-escape": "error",
		"no-useless-rename": "error",
		"no-useless-return": "error",
		"no-whitespace-before-property": "error",
		"no-with": "error",
		"no-var": "error",
		"object-property-newline": [
			"error",
			{
				"allowMultiplePropertiesPerLine": true
			}
		],
		"operator-linebreak": [
			"error",
			"after",
			{
				"overrides": {
					"?": "before",
					":": "before"
				}
			}
		],
		"padded-blocks": [
			"error",
			{
				"blocks": "never",
				"switches": "never",
				"classes": "never"
			}
		],
		"prefer-arrow-callback": "error",
		"prefer-const": "error",
		"prefer-promise-reject-errors": "error",
		"prefer-template": "error",
		"quotes": [
			"error",
			"single",
			{
				"avoidEscape": true,
				"allowTemplateLiterals": true
			}
		],
		"rest-spread-spacing": [
			"error",
			"always"
		],
		"semi-spacing": [
			"error",
			{
				"before": false,
				"after": true
			}
		],
		"space-before-blocks": [
			"error",
			"always"
		],
		"space-in-parens": [
			"error",
			"always"
		],
		"space-infix-ops": "error",
		"space-unary-ops": [
			"error",
			{
				"words": true,
				"nonwords": false,
				"overrides": {
					"!": true
				}
			}
		],
		"spaced-comment": [
			"error",
			"always",
			{
				"line": {
					"markers": [
						"*package",
						"!",
						"/",
						",",
						"="
					]
				},
				"block": {
					"balanced": true,
					"markers": [
						"*package",
						"!",
						",",
						":",
						"::",
						"flow-include"
					],
					"exceptions": [
						"*"
					]
				}
			}
		],
		"symbol-description": "error",
		"template-curly-spacing": [
			"error",
			"never"
		],
		"template-tag-spacing": [
			"error",
			"never"
		],
		"unicode-bom": [
			"error",
			"never"
		],
		"use-isnan": "error",
		"valid-typeof": [
			"error",
			{
				"requireStringLiterals": true
			}
		],
		"wrap-iife": [
			"error",
			"any",
			{
				"functionPrototypeMethods": true
			}
		],
		"yield-star-spacing": [
			"error",
			"both"
		],
		"yoda": [
			"error",
			"always",
			{
				"onlyEquality": true
			}
		]
	}
}